@import '../../style/color';

.layout{
    height: 100%;
    .header{
        position: relative;
        padding: 0;
        color: @white;
        background: @black;
    }
    .content{

    }
    .footer{
        position: relative;
        color: @white;
        background: @black;
        font-size: 16px;
        height: 64px;
        padding: 0;
    }
}