.layout{
    height: 100%;
    .header{
        position: relative;
        padding: 0;
        color: #fff;
        background: #3a3b45;
    }
    .content{

    }
    .footer{
        background: #193c6d;
    }
}