.logo{
  overflow: hidden;
  padding-left: 20px;
  float: left;
  height: 64px;
  line-height: 64px;
  img{
    height: 32px;
    margin-right: 16px;
  }
}
.title{
  color: #fff;
  font-size: 24px;
}
.drop_down{
  position: relative;
  .icon{
    position: absolute;
    right: 30px;
    top: 25px;
    height: 22px;
    cursor: pointer;
  }
}